/* — Typography — */

/* — Layout — */

.container {
  width: 100%;
  height: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

.thermostat {
  width: 500px;
  height: 170px;
  border-radius: 25px;
  padding: 2rem;
  position: fixed;
  top: 16%;
  left: 33%
}

.thermostat__temperature-container {
  text-align: center;
}

.thermostat__control {
  margin-top: 1rem;
  text-align: center;
  position: fixed;
  left: 1120px;
}

.thermostat__powersave {
  margin-top: 1rem;
  text-align: center;
  position: fixed;
  left: 1010px;
  top: 275px;
}

.thermostat_image {
  content:url(/images/thermostat.jpg);
  width: 750px;
  z-index: -1;
  margin: auto;
}

.visuallyhidden {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
